@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/*  CSS VARIABLES  */

:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*  COLORS  */
:root {
  --first-color: #4070f4;
  --second-color: #202122;
  --darkmode: #0d1117;
}

/*  FONT AND TYPOGRAPHY  */
:root {
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*  MARGINS  */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*  Z-INDEX  */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*  BASE  */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: #fffef2;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*  CSS CLASSES  */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*  LAYLOUT  */
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*  NAV  */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}

.nav_item {
  margin-bottom: var(--mb-4);
}

.darkmode-btn {
  font-size: 2em;
}

.nav_link {
  position: relative;
  color: #fff;
}

.nav_link:hover {
  position: relative;
}

.nav_link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav_logo {
  color: var(--second-color);
}

.nav_toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*  ACTIVE MENU  */
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*  SHOW MENU  */
.show {
  right: 0;
}

/*  HOME  */
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home_data {
  align-self: center;
}

.home_title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home_title-color {
  color: var(--first-color);
}

.home_social {
  display: flex;
  flex-direction: column;
}

.home_social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home_social-icon:hover {
  color: var(--first-color);
}

.home_img {
  position: absolute;
  right: 10px;
  bottom: 50px;
  width: auto;
  height: auto;
}

.home_img img {
  max-width: 100%;
  max-height: 100%;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 1.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(#0646f5, #0646f5),
    linear-gradient(var(--first-color), var(--first-color));
  background-size: 0 100%, auto;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.2s ease-out;
}

.button:hover {
  color: #fff;
  background-size: 100% 100%, auto;
}

/*  ABOUT  */
.about_container {
  row-gap: 2rem;
  text-align: center;
}

.about_subtitle {
  margin-bottom: var(--mb-2);
}

.about_img {
  justify-self: center;
}

.about_img img {
  width: 100%;
  border-radius: 0.5rem;
}

/*  SKILLS  */
.skills_container {
  row-gap: 2rem;
  text-align: center;
}

.skills_subtitle {
  margin-bottom: var(--mb-2);
}

.skills_text {
  margin-bottom: var(--mb-2);
}

.skills_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-small);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(12, 36, 49, 0.15);
}

.skills_icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills_name {
  display: flex;
  align-items: center;
}

.skills_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}

.skills_html {
  width: 100%;
}

.skills_css {
  width: 100%;
}

.skills_javaScript {
  width: 100%;
}

.skills_react {
  width: 100%;
}

.skills_img {
  border-radius: 0.5rem;
}

/*  WORK  */
.work {
  text-align: center;
}

.work_container {
  row-gap: 2rem;
}

.work_img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

.work_img img {
  transition: 1s;
}

.work_img.scoville img {
  height: 179px;
  width: 100%;
}

.workword {
  color: var(--first-color);
  font-weight: bold;
}
.work-btn {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0.75rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-image: linear-gradient(#0646f5, #0646f5),
    linear-gradient(var(--first-color), var(--first-color));
  background-size: 0 100%, auto;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.2s ease-out;
  outline: none;
  border: none;
  display: block;
}

.work-btn:hover {
  color: #fff;
  background-size: 100% 100%, auto;
}

/*  CONTACT  */
.contact_input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact_button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  margin-left: auto;
}

#my-form-status {
  width: 40%;
  max-width: 200px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#my-form-status.success {
  background-color: lightseagreen;
  animation: status 2s ease-in-out forwards;
}

#my-form-status.error {
  background-color: orangered;
  color: white;
  animation: status 3s ease-in-out forwards;
}

@keyframes my-form-status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/*  FOOTER  */
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer_title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer_social {
  margin-bottom: var(--mb-4);
}

.footer_icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

/*  MEDIA QUERIES  */
@media screen and (min-width: 320px) {
  .home_img {
    width: 200px;
    right: 15%;
  }
}

@media screen and (min-width: 450px) {
  .home_img {
    width: 250px;
  }
}

@media screen and (min-width: 525px) {
  .home_img {
    width: 275px;
  }
}

@media screen and (min-width: 820px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav_list {
    display: flex;
    padding-top: 0;
  }
  .nav_item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav_toggle {
    display: none;
  }
  .nav_link {
    color: var(--second-color);
  }
  .home {
    height: 100vh;
  }
  .home_data {
    align-self: flex-end;
  }
  .home_social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home_social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home_img {
    width: 300px;
    bottom: 2%;
  }
  .about_container,
  .skills_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .about_img img {
    width: 400px;
    margin-top: 20px;
  }
  .work_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }
  .contact_form {
    width: 360px;
  }
  .contact_container {
    justify-items: center;
  }
}

@media screen and (min-width: 1050px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home_img {
    width: 400px;
    bottom: 10%;
  }
}

@media screen and (min-width: 1885px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home_img {
    right: 15%;
  }
}

@media screen and (min-width: 2180px) {
  .home_img {
    top: 15%;
    width: 800px;
  }
}
